@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin:ital,wght@0,400;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: 'Abril Fatface', serif;
font-family: 'Cabin', sans-serif;
}
.colmar-body{
    background-color: rgb(245,244,245);
}
a{
    color: #5c5c5c;
}
a:link {
    
  
   
    text-decoration: none;
   
   
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {
    
   
    
    text-decoration: underline;
  }
.cm-header{
    width: 100%;
    display: flex;
    height: 64px;
    background-color: rgb(255, 255, 255);
    align-items: center;
}
.cm-nav{
    flex: 1;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
}
.nav-left{
   
    margin-left: 24px;
  height: 50px;
 
    display: flex;
    /* background-color: blueviolet; */
    align-items: center;
}
.navl-item1{
    /* background-color: rgb(120, 234, 110); */
    align-items: center;
   display: flex;
}
.navl-item1 img{
    height: 55px;
    
}
.navl-item2{
    color: rgb(90, 89, 89);
    font-weight: 700;
    font-size: 32px;
}
.navl-item3{
    color: rgb(155, 156, 156);
    font-size: 32px;
}
.nav-right{
   
   font-size: 1.5rem;
    margin-right: 24px;
    justify-content: end;
    flex: 1;
    /* background-color: wheat; */
    display: flex;
    align-items: center;
    gap:16px
}

.hero{
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    display: flex;
    background-color: aqua;
    height: 100vh;
    gap:24px;
}
.hero-left{
    
    margin: 32px 0px 32px 24px;
    /* margin-top: 32px;
    margin-left: 24px; */
    flex: 3;
    /* background-color: blanchedalmond; */
}

.hero-left img {
   height: 100%;
   width: 100%;
    
    object-fit: cover;
    object-position: center;
}
.hero-right{
    margin: 32px 24px 32px 0px;
    

    flex: 2;
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    
}



.hr-item-1{
    color: #535353;
    margin-top: 100px;
   
    width: 80%;
    /* background-color: rgb(76, 112, 112); */
    font-size: 4rem;
    font-weight: 700;

}
.hr-item-2{
    color: #535353;
    margin-top: 30px;
    font-size: 1.8rem;
   width: 80%;
    /* background-color: antiquewhite; */
}
.hr-item-3{
color: white;
text-align: center;
font-size: 2rem;
width: 80%;
padding-top: 8px;
padding-bottom: 8px;
   margin-top: 50px;
    background-color: rgb(135, 135, 135);
}
.information{
    display: flex;
    height: 100vh;
    background-color: #535353;
    gap: 24px;
}
.inform-l{
    flex: 3;
    width: 100%;
    background-color: blue;
}
.inform-r{
    flex: 2;
    width: 100%;
    background-color: aquamarine;
}





@media (max-width: 480px){
.colmar-header{
    display: none;
}

.colmar-miniheader{
   
    height: 64px;
    background-color: rgb(96, 88, 72);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
}

